@font-face {
  font-family: "Ubuntu";
  src: url("./public/Ubuntu-Regular.ttf");
  font-display: swap;
}

a {
  color: #404040;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu";
  font-size: 1.15rem;
  color: #6b2d2d;
  background-color: #f0eaea;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  overflow-y: hidden;
  width: min(800px, calc(100vw - 5rem));
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 0rem 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #e2e2e2;
  box-shadow: 0px 3px 3px #a5a5a544;
  border: 10px solid #d4d4d4;
  border-top: unset;
}

header * {
  margin: 0;
  padding: 0;
  font-size: min(2rem, 6vw);
  color: #a46c6c
}

header a, header i {
  font-size: min(1.5rem, 4.5vw);
  padding-right: min(0.3rem, 0.9vw);
}

main {
  min-height: calc(100vh - 11rem);
  width: 100vw;
}

main, footer {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: baseline;
  padding-bottom: 1rem;
}

.bio {
  display: block;
  text-indent: 1rem;
  width: min(750px, calc(100vw - 5rem));
}

.bio img {
  width: min(200px, 30vw);
  border-radius: 30%;
  margin: 1rem;
  border: 10px solid #e5d8d8;
  float: left;
}

li {
  padding-bottom: 1rem;
}

p, li {
  line-height: 1.2;
  word-spacing: 4px;
}

main h3 {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  padding-top: 0;
  margin-top: 0;
}

footer * {
  width: 250px;
  text-align: center;
  padding: 0;
  margin: 0;
}

hr {
  height: 0;
  border-color: #6b2d2d;
  border-style: solid;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #BFBFBF;
  }

  .bio img {
    border-color: #4a3030;
  }

  header * {
    color: #935b5b
  }

  header {
    background-color: #150909;
    box-shadow: 0px 3px 3px #00000044;
    border-color: #4a3030;
  }

  body {
    color: #c1acac;
    background-color: #1D1D1D;
  }

  hr {
    border-color: #c1acac;
    border-style: solid;
  }
}
